html
{
    margin-bottom: 15px;
    margin-right: 25px;
    margin-left: 15px;
    margin-top: 15px;
}

body
{
	position:relative;
}

.table.no-border > thead > tr > th,
.table.no-border > tbody > tr > th,
.table.no-border > tfoot > tr > th,
.table.no-border > thead > tr > td,
.table.no-border > tbody > tr > td,
.table.no-border > tfoot > tr > td {
	border: none;
}

.border-solid > thead > tr > th,
.border-solid > tbody > tr > th,
.border-solid > tfoot > tr > th,
.border-solid > thead > tr > td,
.border-solid > tbody > tr > td,
.border-solid > tfoot > tr > td {
  border: 1px solid #333;
}

.table > thead > tr > th.border-right,
.table > tbody > tr > th.border-right,
.table > tfoot > tr > th.border-right,
.table > thead > tr > td.border-right,
.table > tbody > tr > td.border-right,
.table > tfoot > tr > td.border-right {
	border-right: 1px solid #ddd;
}

.table.no-padding > thead > tr > th,
.table.no-padding > tbody > tr > th,
.table.no-padding > tfoot > tr > th,
.table.no-padding > thead > tr > td,
.table.no-padding > tbody > tr > td,
.table.no-padding > tfoot > tr > td {
	padding: none;
}

.table.padding-mid > thead > tr > th,
.table.padding-mid > tbody > tr > th,
.table.padding-mid > tfoot > tr > th,
.table.padding-mid > thead > tr > td,
.table.padding-mid > tbody > tr > td,
.table.padding-mid > tfoot > tr > td {
	padding: 3px;
}

.table.padding-side > thead > tr > th,
.table.padding-side > tbody > tr > th,
.table.padding-side > tfoot > tr > th,
.table.padding-side > thead > tr > td,
.table.padding-side > tbody > tr > td,
.table.padding-side > tfoot > tr > td {
	padding: none;
	padding-left: 3px;
	padding-right: 3px;
}

table.font-min > thead > tr > th,
table.font-min > tbody > tr > th,
table.font-min > tfoot > tr > th,
table.font-min > thead > tr > td,
table.font-min > tbody > tr > td,
table.font-min > tfoot > tr > td {
	line-height: 1.22857143;
	font-size:11px;
}

.table > thead > tr > td.small,
.table > tbody > tr > td.small,
.table > tfoot > tr > td.small,
.table > thead > tr > th.small,
.table > tbody > tr > th.small,
.table > tfoot > tr > th.small,
.table > thead > tr.small > td,
.table > tbody > tr.small > td,
.table > tfoot > tr.small > td,
.table > thead > tr.small > th,
.table > tbody > tr.small > th,
.table > tfoot > tr.small > th {
	line-height: 1.12857143;
	font-size:10px;
}

.table > thead > tr > td.spacing,
.table > tbody > tr > td.spacing,
.table > tfoot > tr > td.spacing,
.table > thead > tr > th.spacing,
.table > tbody > tr > th.spacing,
.table > tfoot > tr > th.spacing,
.table > thead > tr.spacing > td,
.table > tbody > tr.spacing > td,
.table > tfoot > tr.spacing > td,
.table > thead > tr.spacing > th,
.table > tbody > tr.spacing > th,
.table > tfoot > tr.spacing > th {
	padding: none;
	padding-left: 3px;
	padding-right: 3px;
}

.well {
	border: 1px solid #000;
	border-radius: 0px;
	background-color: #eceff1;
}

.well.no-background {
	background-color: transparent;
}

.well.no-padding {
	padding: 5px;
}

.row
{
	display: block;
}

footer.footer
{
	position:absolute;
	bottom: 0;
}

footer.footer.fixed
{
	position: fixed;
	bottom: 70px;
}

.no-margin
{
	margin-top: none;
	margin-bottom: none;
}
.no-padding
{
	padding: 0px;
}

.page-break 
{
    page-break-after: always;
}

header
{
	margin-bottom: 15px;
	border-bottom: 1px solid #333;
}
